#closeUpView {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 200px; */
    /* box-sizing: border-box; */
    /* align-items: center; */
    grid-auto-rows: auto 1fr;
    /* margin-right: 0%; */
    grid-gap: 0%;
    margin-left: 10%;
}

#closeUpView img {
    width: 60%;
}

#closeUpView #content {
    margin-top: 10%;
    width: 80%;
}

.inline {
    display: grid;
    grid-column: 1fr 2fr;
}

.knowMoreInfo {
    margin-top: 53%;
    width: 80%;
    text-align: center;
}

.profileImage {
    margin-bottom: 4%;
    width: 10px;
    /* margin: auto; */
}